* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font: inherit;
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  scrollbar-color: transparent transparent;
}

:root{
  overflow-y: scroll;
}

body {
  width: 100vw;
  max-width: 100%;
  height:100vh;
  max-height: 100%;
  background: white;
  color: black;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#000000 2px, transparent 2px),
    radial-gradient(#000000 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  cursor: default;
}

/* iOS Reset  */
input {
  appearance: none;
  border-radius: 0;
}
#root{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar-track {
  border: 5px solid white;
  background-color: #b2bec3;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background-color: #6658d3;
  border-radius: 5px;
}
